{% set i = loop.index if loop and loop.index else i %}
<tr>
  <td>{{ i }}</td>
  <td>{{ r.get('fecha','') }}</td>
  <td>{{ r.get('lugar','') }}</td>
  <td>{{ r.get('lat','') }}</td>
  <td>{{ r.get('lon','') }}</td>
  <td>{{ r.get('tipo_ambiente','') }}</td>
  <td>{{ r.get('usos_suelo','') }}</td>
  <td>{{ r.get('cobertura_relieve','') }}</td>
  <td>{{ r.get('intervencion_humana','') }}</td>
  <td>{{ r.get('conectividad','') }}</td>
  <td>{{ r.get('valor_ecocultural','') }}</td>
  <td>{{ r.get('descripcion','') }}</td>
</tr>
